Make.dist
README.vendor
all.bash
all.bat
all.rc
archive/
bootstrap.bash
bufio/
buildall.bash
builtin/
bytes/
clean.bash
clean.bat
clean.rc
cmd/
cmp.bash
compress/
container/
context/
crypto/
database/
debug/
embed/
encoding/
errors/
expvar/
flag/
fmt/
go.mod
go.sum
go/
hash/
html/
image/
index/
internal/
io/
log/
make.bash
make.bat
make.rc
math/
mime/
net/
os/
path/
plugin/
race.bash
race.bat
reflect/
regexp/
run.bash
run.bat
run.rc
runtime/
sort/
strconv/
strings/
sync/
syscall/
testdata/
testing/
text/
time/
unicode/
unsafe/
vendor/

